@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Hind+Madurai:wght@500&family=Noto+Sans+Limbu&family=Poppins&family=Quicksand:wght@400;500&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #4070f4;
}
:where(.container, form, .input-field, header){
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container{
    background: #fff;
    padding: 30px 65px;
    border-radius: 12px;
    row-gap: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.container header{
    height: 65px;
    width: 65px;
    background: #4070f4;
    color: #fff;
    font-size: 2.5rem;
    border-radius: 50%;
}
.container h4{
    font-size: 1.25rem;
    color: #333;
    font-weight: 500;
}
form .input-field{
    flex-direction: row;
    column-gap: 10px;
}
.input-field input{
    height: 45px;
    width: 42px;
    border-radius: 6px;
    outline: none;
    font-size: 1.125rem;
    text-align: center;
    border: 1px solid #ddd;
}
.input-field input::-webkit-inner-spin-button,
.input-field input::-webkit-outer-spin-button{
    display: none;
}
form button{
    margin-top: 25px;
    width: 100%;
    background: #6e93f7;
    color: #fff;
    font-size: 1rem;
    border: none;
    padding: 9px 0;
    cursor: pointer;
    pointer-events: none;
    border-radius: 6px;
    transition: all 0.2s ease;
}
form button.active{
    background: #4070f4;
    pointer-events: auto;
}
form button:hover{
    background: #0e4bf1;
}