@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Hind+Madurai:wght@500&family=Noto+Sans+Limbu&family=Poppins&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    color: #000;
}

.register{
    width: 600px;
    height: 720px;
    margin: 13px auto;
    background-color: #01a3a4;
}
.container{
    position: relative;
    top: 49px;
    width: 500px;
    height: 620px;
    margin: 0 auto;
    background-color: #fff;
}
.header{
    width: 100%;
    height: 120px;
    text-align: center;
    background-color: #9400D3;
    position: relative;
}
.header::before{
    content: "";
    position: absolute;
    bottom: -10px;
    left: 240px;
    border-top: 10px solid #9400D3;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;

}
.header i{
    margin-top: 15px;
    font-size: 40px;
    color: #fff;
}
.header h1{
    color: #fff;
}
.form-rg{
    /* background-color: #fff; */
    height: 300px;
    /* width: 100%; */
    margin-top: 38px;
}
.form-rg label{
    position: relative;
    top: 30px;
    left: 37px;
}
.form-rg label i{
    position: absolute;
    padding: 10px;
    text-align: center;
    align-items: center;
    font-size: 25px;
    width: 45px;
    height: 45px;
    color: #fff;
    background: #9400D3;
}
.form-rg input{
    padding-left: 85px;
    margin-top: 30px;
    margin-left: 37px;
    width: 85%;
    height: 45px;
    background: #f5f5f5;
    border: none;
    outline: none;
}
.check-box{
    width: 100%;
    display: flex;
    float: left;
}
.check-box input.check{
    cursor: pointer;
    margin-top: 15px;
    width: 20px;
    border: none;
    background: #f5f5f5;
}
.check-box p{
    position: relative;
    top: 25px;
    left: 10px;

    font-size: 15px;
    color: #777;
}
.check-box p span{
    color: #9400D3;
}
.submit button{
    border: none;
    width: 85%;
    margin-left: 37px;
    height: 45px;
    background: #9400D3;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}
.login p{
    color: #777;
    font-size: 14px;
    margin-top: 15px;
    text-align: center;
}
.login p a{
    text-decoration: none;
    color: #000;
    
}