@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@500&family=Poppins&family=Roboto&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    background: linear-gradient(to right, #96b8ff, #ff7adf);
    cursor: pointer;
}
#header{
    height: 100%;
    height: 60px;
}
#header .menu{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-top: 80px;
}
#header .menu .item{
    width: 200px;
    margin: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    color: #fff;
    font-weight: bold;
    font-size: 25px;
}
.notification{
    width: 400px;
    height: 90px;
    background: #06eeee;
    position: absolute;
    left: 20px;
    bottom: -100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgb(13, 153, 153) 0 0 10px;
    transition: all 0.5s;
}
.notification .avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 10px;
}
.notification .avatar img{
    max-width: 100%;
}
.notification .content{
    color: #fff;
}
.notification:before{
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    background: #06eeee;
    bottom: -14px;
    left: 24px;
    transform: rotate(45deg);
}
.notification .actions{
    display: flex;
    margin-right: 20px;
    color: #fff;
}
.notification .actions i{
    margin: 0 5px;
    font-weight: bold;
}
showNotification{
    bottom: 20px;
}