@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bungee+Spice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Barlow+Semi+Condensed:wght@500&family=Carter+One&family=DM+Sans&family=Dangrek&family=Libre+Baskerville&family=Reem+Kufi+Ink&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #fafafa;
    font-size: 15px;
    font-family: sans-serif;
    text-align: center;
    font-weight: 400;
    line-height: 1.35;
}
li{
    list-style: none;
}

.conternor{
    width: 1200px;
    float: none;
    margin: 0 auto;
}
header{


    /*border-bottom: 5px solid rgb(187, 110, 144);*/
    height: 70px;
}
footer{
    height: 100px;
    background: rgb(64, 63, 68);
    /*background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(173,246,207,1) 0%, rgba(0,212,255,1) 100%);*/
}
header  .dautrang p {
    float: left;
    /*width: auto;*/
    /*line-height: 200px;*/
    color: #014b01;
    /*width: 68px ;*/
    padding: 15px 45px;
    font-family: 'Bungee Spice', cursive;

    font-size: 30px;

}
.phone ul {
    float: right;
    /*padding: 0 15px;*/
    /*   line-height: 22px;*/
    margin: 14px 25px;
    font-size: 15px;
    color: #fa0000;

}


.GIOHANG i{
    line-height: 15px;
    float: right;
    margin: 15px 0;
    color: #fa0000;
    border: 10px solid #d7d3d3;
    border-radius: 50px 50px 50px 50px;
    background: #d7d3d3;
}
div.GIOHANG:hover  i{
    transform: scale(1.6);
}
.GIOHANG p{
    float: right;
    line-height: 70px;
    margin: 0 15px;
    color: #dcb66c;
    font-size: 15px;
}

.search{
    width: 100%;
    position: relative;
    display: flex;
}

.search-tm{
    width: 60%;
    border: 3px solid #dcb66c;
    border-right: none;
    padding: 15px;
    height: 20px;
    border-radius: 15px 0 0 15px;
    outline: none;
    /*color: #000000;*/
    background: #eaeae5;
}

.search-btn{
    width: 50px;
    height: 36px;
    border: 3px solid #dcb66c;
    background:#eaeae5;
    text-align: center;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
    font-size: 18px;
}
.search-txt{
    color: #1a0202;
}
.search-box{
    width: 30%;
    position: absolute;
    float: right;
    line-height: 70px;
    left: 35%;
    top: 2%;
}
section{
    height: 1250px;
}
nav{

    background-color: #d9d4d4;

    height: 70px;
    /*border-bottom: 3px solid #dc64dc;*/
}
.card{
    float:right;
}
/*NOTE*/

.container{
    margin: 0 auto;
    width: 1455px;
    float: none;
}

section img{
    width: 250px;
}

section h1{
    font-family: 'Roboto', sans-serif;
    margin: 15px 25px;
}

section p{
    margin: 1px;
    font-size: 18px;
    margin-bottom: 5px;
    color: #828282;
    font-weight: initial;
    font-family: 'UTM Aptima';
}

section p span{
    color: #808080;
    font-size: 17px;
    font-family: 'Barlow Semi Condensed', sans-serif;
}
img{
    max-width: 100%;
}
/* T-Shirt */
.menuT-Shirt{
    padding: 1px ;
}

.menuT-Shirt .menu_ts a{
    padding: 5px 5px;
    text-align: left;
    float: left;
    margin: 5px 15px;
    transition: all 300ms;
    text-decoration: none;
}
.menuT-Shirt .menu_ts a:hover{
    transform: scale(1.01);
    background-color: #D3D3D3;
}
.menuT-Shirt button{
    border: none;
    padding: 15px;
    text-align: center;
    color: #8a8a8a;
    width: 100%;
    font-size: 18px;
    background-color: #fff;
}

/* Footer */
.footer-distributed{
    /*margin: 650px auto;*/
    /*width: 1430px;*/
    float: none;
    background: rgb(64, 63, 68);
    /*background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(173,246,207,1) 0%, rgba(0,212,255,1) 100%);*/
    background-clip: border-box;
    box-sizing: border-box;
    margin-bottom: 90px;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
}

/* Footer left */
.footer-distributed .footer-left{
    width: 40%;
}

/* The company logo */
.footer-distributed h3{
    color:  #ffffff;
    font: normal 36px 'Open Sans', cursive;
    margin: 0;
}

.footer-distributed h3 span{
    color:  lightseagreen;
}

/* Footer links */
.footer-distributed .footer-links{
    color:  #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}
.footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    font-weight:400;
    text-decoration: none;
    color:  inherit;
}

.footer-distributed .footer-company-name{
    color:  #222;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */
.footer-distributed .footer-center{
    width: 35%;
}
.footer-distributed .kinhnhiem{
    color: #fafafa;
    width: 300px;
    line-height: 1.35;
}
.footer-distributed .footer-company-name{
    color: #e89220;
}
.footer-distributed .trungtam  ul li{


    font-weight: 600;
    text-align: center;
}

.footer-distributed .footer-links1 a{
    color: #e89220;
    text-decoration: none;
    font-size: 15px;

}
.footer-distributed .footer-links1 a:before{
    content: "|";
    font-weight:300;
    font-size: 20px;


    display: inline-block;
    padding-right: 5px;
}
.footer-distributed .footer-center i{
    background-color:  #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;

    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p{
    display: inline-block;
    color: #ffffff;
    font-weight:400;
    vertical-align: middle;
    margin:0;
}

.footer-distributed .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
}

.footer-distributed .footer-center p a{
    color:  lightseagreen;
    text-decoration: none;;
}

.footer-distributed .footer-links a:before {
    content: "|";
    font-weight:300;
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before{
    content: none;
}
.footer-distributed .footer-links1 .link-1:before{
    content: none;
}

/* Footer Right */
.footer-distributed .footer-right{
    width: 20%;
}

.footer-distributed .footer-company-about{
    line-height: 20px;
    color: #ffffff;
    font-size: 15px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span{
    display: block;
    color:  #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons{
    margin-top: 25px;
}

.footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;

    cursor: pointer;
    background-color:  #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}
span{
    color: #fa0000;
}
input[name=email] {
    padding: 12px 0px;
    width: 100%;
}
button[type="submit"]{
    padding: 12px 5px;
    background-color: #f1ad07;
    color: #fafafa;
    font-weight: 600;
}

